#banner {
    color: white;
    text-align: center;
    background-color: transparent
    border-color: black;
}
#menu {
    text-align:justify;
    color: rgba(255, 255, 255, .9)
}
#principal {
    background-color: black;
    text-align: left;
}
#lista{
    background-color: rgba(255, 255, 0, .2);
    text-align: center;


}
#patrocinadores {
    background-color: rgba(255, 255, 255, .5);

}
