#banner {
    color: white;
    text-align: center;
    background-color: transparent
}
.menu {
    text-align:justify;
    color: rgba(255, 255, 255, .9);
    padding-top: 1%;
}
#principal {
    background-color: white;
    text-align: left;
    margin-bottom: 1%;
    padding-bottom: 2%;
    margin-top: 1%;
    border-top-left-radius: 2%;
    border-bottom-left-radius: 2%;
}

#eventofundo{
    background-color: #DDDDDD;
    text-align: left;
    padding-bottom: 1%;
    padding-top: 1%;
    margin-top: 1%;
}
.event{
    float: none;
    margin-left: 0 auto ;
}

#patrocinadores {
    background-color: black;
    margin-bottom: 1%;
    padding-bottom: 2%;
    margin-top: 1%;
    border-top-right-radius: 5%;
    border-bottom-right-radius: 5%;
}
.bt_titulo {
    background-position-x: center;
    background-color: transparent;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 100%;
    color: yellow;
    font-weight: bold;
    border: none;
    width: auto;
    height: auto;
    margin-top: 15%;
}
#next{
    background-position-x: center;
    background-color: #252525;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 90%;
    color: yellow;
    border-color: #262626;
    font-weight: bold;
    width: 100%;
    height: auto;
}
.eventos{
    width: 100%;
    padding: 2%;
}
.imagem_carrossel{
    max-width: 100%;
    margin-bottom: 30%;
    margin: 0% auto;
}
.textSlide{
    color: yellow;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-image: linear-gradient(to right ,rgba(0,0,0, 0),rgba(0,0,0, 0.7),rgba(0,0,0, 0))
}
.textoQuadros{
    color:yellow;
    position: relative; 
    bottom: 0%;
    
}
.imageQuadros{
    position: relative;
    border : 0% auto;
}
.quadros{
    max-width: 33%;
    min-width: 33%;

}

.quadros1{
    max-width: 100%;
    min-width: 33%;

}

.quadros div button img:hover{
  
  transform: scale(1.1);
}
.textoQuadros h3{
    text-align: center; 
    width: 80%;
    margin: 0% auto;
}
.imagemQuadros button{
    background-color: transparent;
    border: none;
};