#banner {
    color: white;
    text-align: center;
    background-color: transparent
}
#superior{
    background-color: rgba(0,0,0, 0.4)
}
.menu {
    text-align:justify;
    color: rgba(255, 255, 255, .9);
    padding-top: 1%;
}
#principal {
    background-color: white;
    text-align: left;
    margin-bottom: 1%;
    padding-bottom: 2%;
    margin-top: 1%;
    border-top-left-radius: 2%;
    border-bottom-left-radius: 2%;
}

#eventofundo{
    background-color: #DDDDDD;
    text-align: left;
    padding-bottom: 1%;
    padding-top: 1%;
    margin-top: 1%;
}
.event{
    float: none;
    margin-left: 0 auto ;
}

#patrocinadores {
    background-color: black;
    margin-bottom: 1%;
    padding-bottom: 2%;
    margin-top: 1%;
    border-top-right-radius: 5%;
    border-bottom-right-radius: 5%;
}
.bt_titulo {
    background-position-x: center;
    background-color: transparent;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 100%;
    color: yellow;
    font-weight: bold;
    border: none;
    width: auto;
    height: auto;
    margin-top: 15%;
}
#next{
    background-position-x: center;
    background-color: #252525;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 90%;
    color: yellow;
    border-color: #262626;
    font-weight: bold;
    width: 100%;
    height: auto;
}
.eventos{
    width: 100%;
    padding: 2%;
}
.imagem_carrossel{
    max-width: 100%;
    margin-bottom: 30%;
    margin: 0% auto;
}
.textSlide{
    color: yellow;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-image: linear-gradient(to right ,rgba(0,0,0, 0),rgba(0,0,0, 0.7),rgba(0,0,0, 0))
}

.imageQuadros{

    border : 0% auto;
    
}
.quadros{
    margin: 2%;
}
.quadros div button img:hover{
  
  transform: scale(1.1);
}

.textoQuadros h2{
    /*text-align: center; */
    margin: 0% auto;
    color: black;
}

.textoQuadrosContato p{
    margin: 0% auto;
    color: black;
    font-size: 220%;
    font-weight: bold;
}
.imagemQuadros button{
    background-color: transparent;
    border: none;
}
.copyright{
    text-align: center;
    color: white;
    margin: 4%;
}

.patroc h2{
    text-align: center;
    color: white;
    font-weight: bold;
    margin: 0% auto;
}

.textoTitulo h1{
    text-align: center;
    color: #252525;
    font-weight: bold;
}

#jogadorDIV{
    margin: 3%;
}

#posicaoPlayer{
    font-weight: bold;
    margin: 0% auto;
    color: black;
}


.textoTitulo h3{
    text-align: center;
    color: #252525;
}

#grande{
    hide
}
;


